<table class="table">
    <thead>
        <tr>


            <th scope="col">Email</th>
            <th scope="col">Author Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of authors">
            <td>{{item.email}}</td>
            <td>{{item.firstName}}</td>
            <td *ngIf="!item.isDeactivated">Active</td>
            <td *ngIf="item.isDeactivated">Innactive</td>
            <button (click)="changeStatus(item.email)">Change Status</button>
        </tr>
    </tbody>
</table>